extends ../../layouts/base.jade
block head
  title DC/OS Releases
block content
  .container.container--dark-background
    +header
    .container__content
      h1 DC/OS Releases

  .outer-container.bg-white.clearfix.py5.px2
    .row
      .max-width-4.mx-auto

        h2.heading-margin-bottom.center.mx-auto Release Channels

        .cards.flex.flex-auto.flex-wrap

          .stable-releases.card.card-content.stable.col-4.relative(style="justify-content: inherit; padding-bottom: 3.75rem;")
            h3.mb0 Stable
            p.release-version.pb1 DC/OS 1.8
            p.hero-list__item__copy__paragraph.release-copy Latest stable release. Ready for production use.
            a.cta.cta--text.release-notes.pb2(href='/releases/1.8.8/#1-8-8') Release Notes

            .col-12.flex-end.mt-auto.relative
              div.absolute.dropdown.z-500(style='text-align: left; left: 0; width: 100%;')
                a.btn.btn-primary.mb0.block.center.no-arrow.text-white.bg-heliotrope Get Release
                  img.ml1.align-middle(src='/assets/images/icons/arrow-down-docs-unselected-white.svg' style='margin-top: -2px;')
                ul
                  li: a(href='https://downloads.dcos.io/dcos/stable/aws.html', target='_blank') Amazon Web Services
                  li: a(href='https://downloads.dcos.io/dcos/stable/azure.html', target='_blank') Azure
                  li: a(href='https://downloads.dcos.io/dcos/stable/dcos_generate_config.sh') Direct Download

          .card.card-content.stable.col-4.relative(style="justify-content: inherit; padding-bottom: 3.75rem;")
            h3.mb0 Early Access
            p.release-version.pb1 DC/OS 1.9.0-rc3
            p.hero-list__item__copy__paragraph.release-copy Upcoming release. Ready for development and testing.
            a.cta.cta--text.release-notes.pb2(href='/releases/1.9.0-rc3/') Release Notes

            .col-12.flex-end.mt-auto.relative
              div.absolute.dropdown.z-500(style='text-align: left; left: 0; width: 100%;')
                a.btn.btn-primary.mb0.block.center.no-arrow.text-white.bg-heliotrope Get Release
                  img.ml1.align-middle(src='/assets/images/icons/arrow-down-docs-unselected-white.svg' style='margin-top: -2px;')
                ul
                  li: a(href='https://downloads.dcos.io/dcos/EarlyAccess/aws.html', target='_blank') Amazon Web Services
                  li: a(href='https://downloads.dcos.io/dcos/EarlyAccess/azure.html', target='_blank') Azure
                  li: a(href='https://downloads.dcos.io/dcos/EarlyAccess/commit/e5b5e6e336763ba9c8ed2d8266c798873e501cb2/dcos_generate_config.sh') Direct Download

          .master-releases.card.card-content.stable.col-4.relative(style="justify-content: inherit; padding-bottom: 3.75rem;")
            h3.mb0 Master
            p.release-version.pb1 DC/OS master
            p.hero-list__item__copy__paragraph.release-copy.pb2 Bleeding edge automated release. Only tested with automated tests.

            .col-12.flex-end.mt-auto.relative
              div.absolute.dropdown.z-500(style='text-align: left; left: 0; width: 100%;')
                a.btn.btn-primary.mb0.block.center.no-arrow.text-white.bg-heliotrope Get Release
                  img.ml1.align-middle(src='/assets/images/icons/arrow-down-docs-unselected-white.svg' style='margin-top: -2px;')
                ul
                  li: a(href='https://downloads.dcos.io/dcos/testing/master/aws.html', target='_blank') Amazon Web Services
                  li: a(href='https://downloads.dcos.io/dcos/testing/master/azure.html', target='_blank') Azure
                  li: a(href='https://downloads.dcos.io/dcos/testing/master/dcos_generate_config.sh') Direct Download


  .outer-container.bg-white.clearfix.pb5.px2
    .row
      .max-width-4.mx-auto
        h2.heading-margin-bottom.center.mx-auto.mt0 Release Versions

        .container
          .container__content(style="padding-top: 0;")
            .container__content--release-notes.docs-layout__docs-content
              a(href='/releases/1.9.0-rc3/', target='_blank') 1.9.0-rc3 - Mar 17, 2017
              a(href='/releases/1.9.0-rc2/', target='_blank') 1.9.0-rc2 - Mar 2, 2017
              a(href='/releases/1.9.0-rc1/', target='_blank') 1.9.0-rc1 - Feb 22, 2017
              a(href='/releases/1.8.7/#1-8-7', target='_blank') 1.8.7 - Nov 14, 2016
              a(href='/releases/1.8.6/#1-8-6', target='_blank') 1.8.6 - October 19, 2016
              a(href='/releases/1.8.5/#1-8-5', target='_blank') 1.8.5 - October 13, 2016
              a(href='/releases/1.8.4/#1-8-4', target='_blank') 1.8.4 - September 15, 2016
              a(href='/releases/1.8.3/#1-8-3', target='_blank') 1.8.3 - September 6, 2016
              a(href='/releases/1.8.2/#1-8-2', target='_blank') 1.8.2 - August 25, 2016
              a(href='/releases/1.8.1/#1-8-1', target='_blank') 1.8.1 - August 2016

  .container.container--dark-background
    .container__content
      h2 Install on any virtual or physical machines.
      a(href='/install').cta.cta--button Install
    +footer
