mixin libraries()
  // Google Tag Manager
  noscript
    iframe(src='//www.googletagmanager.com/ns.html?id=GTM-MT2WX7', height='0', width='0', style='display:none;visibility:hidden')
  script.
    (function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
    new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
    j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
    '//www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
    })(window,document,'script','dataLayer','GTM-MT2WX7');

  // Google Code for Remarketing Tag
  script(type='text/javascript').
    /* <![CDATA[ / var google_conversion_id = 956675238; var google_custom_params = window.google_tag_params; var google_remarketing_only = true; / ]]> */
  script(type='text/javascript', src='//\
  www.googleadservices.com/pagead/conversion.js\
  ')
  noscript
    div(style='display:inline;')
      img(height='1', width='1', style='border-style:none;', alt='', src='//\
      googleads.g.doubleclick.net/pagead/viewthroughconversion/956675238/?guid=ON&script=0\
    ')



  script(src='/assets/javascript/picturefill/dist/picturefill.min.js')
  script(src='/assets/javascript/jquery/dist/jquery.min.js')
  script(src='/assets/javascript/sticky-kit.min.js')
  script(src='/assets/javascript/lunr/lunr.min.js')
  script(src='/assets/javascript/jquery.scrollNav.min.js')
  script(src='/scripts/main.min.js')
  script#github-bjs(async, defer, src='https://buttons.github.io/buttons.js')
