extends ../../../layouts/base-whitefooter.jade


block head
  title DC/OS 1.9.0 Release Candidate 4

block content

  .container.container--dark-background
    +header

    .container__content
      h1 DC/OS 1.9.0 Release Candidate 4
      p.hero-subtitle
        a(href='https://downloads.dcos.io/dcos/EarlyAccess/commit/10b4b02efc86e0e6d7f19d3734c766f5580d04d4/dcos_generate_config.sh').cta.cta--button Download
        a(href='/docs/1.9/').cta.cta--text View Documentation &rarr;

  .container
    .container__content
      .container__content--release-notes.docs-layout__docs-content
        include:markdown notes.md


  .container
      +footer
