extends ../layouts/base-whitefooter.jade

block head
  title Community | DC/OS
  meta(property='og:locale', content='en_US')
  meta(property='og:type', content='article')
  meta(property='og:title', content='Community | DC/OS')
  meta(property='og:image', content='https://dcos.io/assets/images/social-img.png')
  meta(property='og:description', content='Join the DC/OS community and connect with users, contributors, partners, and supporters on GitHub, Twitter, #slack or our mailing list.')
  meta(property='og:url', content='https://dcos.io/')
  meta(property='og:site_name', content='DC/OS')
  meta(name='twitter:card', content='summary')
  meta(name='twitter:site', content='@dcos')
  meta(name='twitter:title', content='Community | DC/OS')
  meta(name='twitter:card', content='summary_large_image')
  meta(name='twitter:image', content='https://dcos.io/assets/images/social-img.png')
  meta(name='twitter:description', content='Join the DC/OS community and connect with users, contributors, partners, and supporters on GitHub, Twitter, #slack or our mailing list.')

block content

  .container.container--dark-background.pb5.px2.sm-pb0(style='display: block;')
    .mx-auto.max-width-4
      +header(style='padding: 0;')

    .mx-auto.max-width-4
      .container__content.community-hero
        h1.mb0 Join the DC/OS Community

      .row
        .max-width-4.mx-auto
          .mxn2.flex.flex-wrap.flex-auto
            .lg-col-4.col-6.lg-mb0.flex.justify-center.left-align
              div
                h5.hero-list__item__copy__title.pb1 Get Help
                ul
                  li.pb2
                    a(href='https://groups.google.com/a/dcos.io/d/forum/users')
                      img.width-24.align-middle.inline-block.mr2(src="/assets/images/icons/community/envelope.svg")
                      | Mailing list
                  li.pb2
                    a(href='http://chat.dcos.io/')
                      img.width-24.align-middle.inline-block.mr2(src="/assets/images/icons/community/slack.svg")
                      | Slack channel
                  li
                    a(href='http://stackoverflow.com/questions/tagged/dcos')
                      img.width-24.align-middle.inline-block.mr2(src="/assets/images/icons/community/stackoverflow.svg")
                      | StackOverflow

            .lg-col-4.col-6.lg-mb0.flex.justify-center.left-align
              div
                h5.hero-list__item__copy__title.pb1 Contribute
                ul
                  li.pb2
                    a(href='https://jira.mesosphere.com/')
                      img.width-24.align-middle.inline-block.mr2(src="/assets/images/icons/community/jira.svg")
                      | Jira
                  li.pb2
                    a(href='https://github.com/dcos')
                      img.width-24.align-middle.inline-block.mr2(src="/assets/images/icons/community/github.svg")
                      | GitHub
                  li.pb2
                    a(href='https://github.com/dcos/community')
                      img.width-24.align-middle.inline-block.mr2(src="/assets/images/icons/community/communities.svg")
                      | Working groups
                  li
                    a(href='https://github.com/dcos/community/tree/master/pmc')
                      img.width-24.align-middle.inline-block.mr2(src="/assets/images/icons/community/communities.svg")
                      | PMC

            .lg-col-4.col-6.flex.justify-center.left-align
              div
                h5.hero-list__item__copy__title.pb1 Get Updates
                ul
                  li.pb2
                    a(href='https://twitter.com/dcos')
                      img.width-24.align-middle.inline-block.mr2(src="/assets/images/icons/community/twitter.svg")
                      | Twitter
                  li.pb2
                    a(href='https://www.youtube.com/channel/UChHh-HuKJdbffdXwkTAroJg')
                      img.width-24.align-middle.inline-block.mr2(src="/assets/images/icons/community/youtube.svg")
                      | YouTube
                  li.pb2
                    a(href='https://www.meetup.com/DC-OS-Online-Meetup/')
                      img.width-24.align-middle.inline-block.mr2(src="/assets/images/icons/community/meetup.svg")
                      | Meetup
                  li
                    a(href='https://calendar.google.com/calendar/embed?src=mesosphere.io_1iu6qkkrmnghb61ntfrp5fc46o%40group.calendar.google.com&ctz=America/Los_Angeles')
                      img.width-24.align-middle.inline-block.mr2(src="/assets/images/icons/community/calendar.svg")
                      | Calendar

  //- Contribute to DC/OS
  .outer-container.bg-white.clearfix.py5.px2
    .row
      .max-width-4.mx-auto
        .mxn2.flex.flex-auto.flex-wrap
          .lg-col-8.col-12.xs-col-12.px2.mx-auto.pb2
            h2 Contributing to DC/OS
            p DC/OS is fully open source, and we appreciate contributions! Proposing #[a(href='https://dcos.io/docs/') documentation] changes, supporting fellow users, participating in #[a(href='https://github.com/dcos/community') working groups], running local meetups, improving our #[a(href='https://github.com/dcos/examples') examples] and #[a(href='https://github.com/dcos/demos') demos], adding packages to the #[a(href='http://mesosphere.github.io/universe/') universe], and of course coding are all ways to contribute. Don't know where to start? #[a(href='mailto:community-team@dcos.io') Email the community team] with questions!

            p #[a(href='https://dcos.io/contribute/') Learn how to contribute to DC/OS]

  //- Featured communities
  .outer-container.bg-gray.clearfix.py5.px2#featured-communities
    .row
      .max-width-4.mx-auto
        h2.center.max-width-4.pb2.mx-auto Featured communities

        .mxn2.flex.flex-auto.flex-wrap
          .lg-col-6.col-12.px2
            h4.pb2.mb0 Apache Mesos (logo)
            p.m0 Apache Mesos acts as the kernel for the datacenter operating system, abstracting machine resources (CPU, GPU, memory, storage, etc.), and offering them to the services that run on DC/OS.
            p #[a(href='http://mesos.apache.org/') Learn about Mesos]
          .lg-col-6.col-12.px2
            h4.pb2.mb0 Marathon (logo)
            p.m0 Marathon is the Mesos framework that orchestrates containers in DC/OS. It matches resource offers with container requirements, and schedules containers on Mesos nodes.
            p #[a(href='https://mesosphere.github.io/marathon/') Learn about Marathon]


  .container.events-container.py5.px2
    .row
      h2.center.max-width-4.pb3.mx-auto Recent Events
      .events-carousel
        if (locals.events.length)
          .events-carousel-btn.events-carousel-btn--next
            img(src='/assets/images/icons/chevron-dark-right.svg')

          .events-carousel-btn.events-carousel-btn--prev
            img(src='/assets/images/icons/chevron-dark-left.svg')

        .card-container
          each event in locals.events
            if (new Date(event.date)).getTime() < Date.now()
              a(href!=event.url target='_blank').card
                .card-header(style='background-image: url(#{event.image})')
                  .card-content
                    .card-header__date
                      p #{event.day}
                      p #{event.month.toUpperCase()}
                .card-content.card-copy
                  h3.card-title  #{event.title}
                  .cta.cta--text More info &rarr;

  //- Strategic Partners
  .outer-container.bg-gray.clearfix.py5.px2#strategic-partners
    .row
      .max-width-4.mx-auto
        .mxn2.flex.flex-auto.flex-wrap
          .lg-col-8.col-12.xs-col-12.px2.mx-auto.pb4
            h2 Strategic Partners
            p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse sit amet iaculis metus. Fusce sed sapien a leo cursus maximus. Nam sollicitudin volutpat nisi in scelerisque. Curabitur pretium massa laoreet ex malesuada viverra. Donec eget tristique magna.

      .max-width-4.mx-auto
        .mxn2.flex.flex-auto.flex-wrap
          .lg-col-6.col-12.px2
            img.mb2(src='/assets/images/logos/microsoft.svg', style='height: 50px')
            p.m0 Description here
            p #[a(href='http://mesos.apache.org/') Callout here]
          .lg-col-6.col-12.px2
            img.mb2(src='/assets/images/logos/hpe.svg', style='height: 50px')
            p.m0 Description here
            p #[a(href='https://mesosphere.github.io/marathon/') Callout here]


  .container
      +footer
