extends ../layouts/base-whitefooter.jade

block head
  title DC/OS

block content

  .container.container--dark-background
    +header

    .container__content
      h1 Contribute to DC/OS

  .container
    .container__content
      .text-align-left

        h2 Content
        p If you'd like to start an event or create content about DC/OS (a video, blog, slide deck, meetup group, etc.), let us know via #[a(href='http://chat.dcos.io/') Slack] or email us at  #[a(href='mailto:community-team@dcos.io') community-team@dcos.io]. You don't need permission, but we'd like to know so that we can support your work!

        h2 Documentation
        p If you'd like to contribute to the documentation, which includes demos and tutorials, please follow the directions in the documentation  #[a(href='https://github.com/dcos/dcos-docs/#contributing') GitHub Repo], and don't be shy to @mention docs-team members on your PR.

        h2 Bug reporting and tracking
        p You can report or track DC/OS bugs in #[a(href='https://jira.dcos.io') JIRA]. In order to create a new issue, you'll need to sign in or #[a(href='mailto:jmalnick@mesosphere.com') request a new account]. When filing an issue please specify what type it is: for software bugs specify 'Bug', or to suggest how to make DC/OS even more awesome, select 'Improvement'. The more detailed your description is, the easier it is for us to react to it.

        include:markdown code-contrib.md

        h2 Packages in the Universe
        p In addition to the services currently #[a(href='https://github.com/mesosphere/universe/tree/version-3.x/repo/packages') published] you're welcome to publish your own service in the Mesosphere Universe (the package repository installed by default on DC/OS, which is not technically part of DC/OS proper). If you're unsure how to proceed, send us an email via #[a(href='mailto:oss-team@mesosphere.io') oss-team@mesosphere.io] and Mesosphere will work with you from there.

        h2 Mesosphere's UX research
        p If you are interested in participating in Mesosphere's user experience research and usability tests please #[a(href='http://uxresearch.mesosphere.com') add yourself to this list]. Mesosphere compensates participants with swag and gift cards.


  .container
      +footer
