extends ../layouts/base-whitefooter.jade

block head
  title DC/OS Demos

block content

  .container.container--dark-background
    +header

    .container__content
      h1 DC/OS Demos
      p.hero-subtitle(style='max-width: 46rem;').mb0 Header content
      p.hero-subtitle(style='max-width: 46rem;').mb0 #[a(href='http://google.com') Callout]


  .outer-container.bg-white.clearfix.py5.px2
    .cards.flex.flex-auto.items-start.flex-wrap.max-width-4.mx-auto
      //- This is where the demos cards are automagically added


  .container
    +footer
