extends ../layouts/base-whitefooter.jade

block head
  title DC/OS Demos

block content

  .container.container--dark-background
    +header

    .container__content
      h1 DC/OS Demos
      p.hero-subtitle(style='max-width: 46rem;').mb0 Header content
      p.hero-subtitle(style='max-width: 46rem;').mb0 #[a(href='http://google.com') Callout]


  .outer-container.bg-white.clearfix.py5.px2
    .cards.flex.flex-auto.flex-wrap.max-width-4.mx-auto
      .card.card-content.col-4.relative.left-align.bg-white.has-footer
        .card-header(style='background-image: url(/assets/images/demos/geo-iot.png)')
        h4.mt3.mb1 Twitter Stream Data
        label.pill.bg-indigo.block.ml2.border-box DC/OS 1.9
        p.block.mt2 Demo of processing Twitter data streams using Apache Cassandra, Apache Kafka, Apache Spark, Apache Zeppelin

        .card-footer.mt2
          span.pill.bg-light-gray.text-space-gray hoi





  .container
    +footer
